*.a
*.app
*.cmd
*.d
*.dSYM/
*.dll
*.dylib
*.elf
*.exe
*.exp
*.gch
*.hex
*.i*86
*.idb
*.ilk
*.iws
*.ko
*.la
*.lai
*.lib
*.lo
*.map
*.mod
*.mod*
*.o
*.obj
*.out
*.pch
*.pdb
*.slo
*.smod
*.so
*.so.*
*.su
*.x86_64
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/workspace.xml
.idea/httpRequests
.idea/replstate.xml
.idea_modules/
.tmp_versions/
Mkfile.old
Module.symvers
atlassian-ide-plugin.xml
cmake-build-debug/
cmake-build-release/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
dkms.conf
fabric.properties
modules.order
out/